<app-navbar></app-navbar>

<body>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="py-5">
            <div class="container">
                <div class="row text-center text-white mb-4">
                    <div class="col-6 col-lg-6 mx-auto">
                        <h1>Reset Password</h1>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-4 col-lg-4 mx-auto mb-4">
                        <div class="bg-white rounded shadow-lg py-4 px-4">
                            <h5 class="msg-info py-3">Reset Password</h5>

                            <div class="form-group row justify-content-center">
                                <label class="form-control-label text-muted">Username</label>
                                <input type="text" value="{{loggedUser}}"
                                    class="form-control rounded-pill border-info shadow-sm" disabled />
                            </div>

                            <div class="form-group row justify-content-center">
                                <label class="form-control-label text-muted">Password</label>
                                <input formControlName="password" [type]="showPassword ? 'text' : 'password'"
                                    placeholder="Password"
                                    class="form-control rounded-pill border-info shadow-sm password-len"
                                    [ngClass]="{'is-invalid': submitted && f['password'].errors}" required />
                                <a (click)="passwordShow()" class="col-1">
                                    <i [class]="showPassword ? 'fa fa-eye small mt-2 pt-1' : 'fa fa-eye-slash small mt-2 pt-1'"
                                        aria-hidden="true">
                                    </i></a>
                                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                    <div *ngIf="f['password'].errors['required']">Password is required</div>
                                    <div *ngIf="f['password'].errors['minlength']">Password must be at least 6
                                        characters</div>
                                </div>
                            </div>

                            <div class="form-group row justify-content-center">
                                <label class="form-control-label text-muted">Confirm Password</label>
                                <input formControlName="confirmPassword"
                                    [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirm Password"
                                    class="form-control rounded-pill border-info shadow-sm password-len"
                                    [ngClass]="{'is-invalid': submitted && f['confirmPassword'].errors}" required />
                                <a (click)="confirmPasswordShow()" class="col-1">
                                    <i [class]="showConfirmPassword ? 'fa fa-eye small mt-2 pt-1' : 'fa fa-eye-slash small mt-2 pt-1'"
                                        aria-hidden="true">
                                    </i></a>
                                <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                                    <div *ngIf="f['confirmPassword'].errors['required']">
                                        Confirm Password is required
                                    </div>
                                    <div *ngIf="f['confirmPassword'].errors['matching']">
                                        Confirm Password does not match
                                    </div>
                                </div>
                            </div>

                            <div class="form-group my-4">
                                <button type="submit" class="btn btn-primary mx-2 px-3">
                                    Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>