<app-navbar></app-navbar>

<body>
    <div class="container-fluid py-5">
        <div class="row text-center text-white mb-4">
            <div class="col-6 col-lg-6 mx-auto">
                <h1>All Users</h1>
            </div>
        </div>
        <div *ngFor="let userResponse of userResponses">
            <div class="container-fluid  pb-2">
                <div class="row py-1 text-center">
                    <div class="col-5 col-lg-5 mx-auto">
                        <div class="bg-white rounded shadow-lg px-3 py-3">

                            <div class="d-flex">
                                <div class="flex-grow-0 ms-2 my-auto">
                                    <img src="/assets/images/272-2720607_this-icon-for-gender-neutral-user-circle-hd.png"
                                        alt="Avatar" width="150px" class="img-responsive p-2 justify-content-right">
                                </div>
                                <div class="flex-grow- text-start mx-5 pt-4">
                                    <a [routerLink]="['/user',userResponse.username]" class="text-dark">
                                        <h4 class="font-weight-bold">
                                            {{userResponse.firstName}} {{userResponse.lastName}}</h4>
                                    </a>
                                    <p class="font-italic text-muted mb-0 small">@{{userResponse.username}}</p>
                                    <p class="font-weight-bold text-muted my-2" style="padding-top: 10px;">
                                        Email - {{userResponse.email}}</p>
                                    <p class="font-weight-bold text-muted">
                                        Mobile No - {{userResponse.contactNumber}}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>