<nav class="navbar navbar-expand-lg navbar-light bg-white" style="padding: 0; opacity: 90%;">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <img src="assets/images/Untitled-1.png" height="60" />
        </a>
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav mr-auto">
                <li *ngIf="!loggedIn" class="nav-item" style="margin-left: 20px;">
                    <a class="nav-link" routerLink="/login"><strong>Login</strong></a>
                </li>
                <li *ngIf="!loggedIn" class="nav-item" style="margin-left: 20px;">
                    <a class="nav-link" routerLink="/register"><strong>Register</strong></a>
                </li>
                <li *ngIf="loggedIn" class="nav-item" style="margin-left: 20px;">
                    <a class="nav-link" routerLink="/allTweets"><strong>Tweets</strong></a>
                </li>
                <li *ngIf="loggedIn" class="nav-item" style="margin-left: 20px;">
                    <a class="nav-link" routerLink="/allUsers"><strong>All Users</strong></a>
                </li>
                <li *ngIf="loggedIn" class="nav-item" style="margin-left: 20px;">
                    <a class="nav-link" routerLink="/reset"><strong>Reset Password</strong></a>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <button *ngIf="loggedIn" class="nav-link btn btn-primary text-uppercase" (click)="logoutUser()"><strong
                        style="color: white; margin-right: 7px; margin-left: 7px;">Logout</strong></button>
            </li>
        </ul>
    </div>
</nav>