<app-navbar></app-navbar>

<body>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div class="py-5">
      <div class="container">
        <div class="row text-center">
          <div class="col-xl-5 mx-auto col-sm-8 mb-4">
            <div class="bg-white rounded shadow-lg py-5 px-4">
              <h6 class="msg-info py-3">Please login to your account</h6>
              <div [hidden]="!error" class="alert alert-danger rounded-pill w-75 p-2">
                Invalid Username or Password
              </div>
              <div class="form-row justify-content-center">
                <div class="form-group">
                  <label class="form-control-label text-muted">Username</label>
                  <input id="userid" name="userid" ngModel type="text" placeholder="Username"
                    class="form-control rounded-pill border-info shadow-sm" #userid="ngModel" required />
                  <div [hidden]="userid.valid || userid.pristine" class="alert alert-danger rounded-pill w-75 p-2"
                    style="margin-top: 5px">
                    Username Required
                  </div>
                </div>
              </div>
              <div class="form-row justify-content-center">
                <div class="form-group ">
                  <label class="form-control-label text-muted">Password</label>
                  <input id="password" name="password" ngModel type="password" placeholder="Password"
                    class="form-control rounded-pill border-info shadow-sm text-primary" #password="ngModel" required />
                  <div [hidden]="password.valid || password.pristine" class="alert alert-danger rounded-pill w-75 p-2"
                    style="margin-top: 5px;">
                    Password Required
                  </div>
                </div>
              </div>
              <div class="row justify-content-center my-3 px-3">
                <button type="submit" [disabled]="!loginForm.form.valid"
                  class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">
                  Sign in
                </button>
              </div>
              <div class="row justify-content-center my-2">
                <a href="/login"><small class="text-muted">Forgot Password?</small></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</body>