
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');

body {
   /* background: linear-gradient(to right, #ff7e00
    , #8cc63e
    );*/
    background: #74ebd5;
    /* background: -webkit-linear-gradient(to right, #74ebd5, #ACB6E5); */
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    min-height: 100%;
    width:100%;
}

strong {
    font-weight: bold;
}
footer{
    vertical-align: bottom;
}
  